body {
  background: burlywood;
  font-family: "Bebas Neue", cursive;
}
#particles-js {
  border: 2px solid coral;
  background: burlywood;
  height: 400px;
}

#headerContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  width: 250px;
}

#mainParagraph {
  position: absolute;
  margin-top: 100px;
  margin-left: 20px;
  z-index: 2;
}
