* {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  background: burlywood;
  font-family: "Bebas Neue", cursive;
}

#grainTexture::after {
  font-family: "Bebas Neue", cursive;
  background-image: url("testGrain.png");

  animation: grain 8s steps(10) infinite;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(5%, 0%);
  }

  80% {
    transform: translate(15%, 0%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

#particles-js {
  border: 2px solid coral;

  height: 400px;
  width: 100%;
}

#headerContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: -10px;
  width: 250px;
}

#mainParagraph {
  position: absolute;
  margin-top: 100px;
  margin-left: 20px;
  z-index: 2;
}

#bar {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 3px;
  background: black;
  width: 190px;
  margin-top: -15px;
  margin-left: 0px;
}

section {
  align-items: center;
  position: relative;
  display: flex;
  width: 900vw;
  height: 10vh;
}

section {
  position: absolute;
  overflow: hidden;
  --offset: 40vw;
  move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  width: 200%;
}

span {
  font-size: 4em;
  padding: 0.5vw;
}

#mainContainer {
  width: fit-content;
  display: flex;
  position: relative;
  animation: marquee 5s linear infinite;
  background-color: red;
  width: 200vw;
  z-index: 1;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
